@font-face {
    font-family: 'Lato',sans-serif;
    src: url(fonts/Lato-Regular.ttf) format('truetype');
}
.video-modal{
	font-family: 'Lato', sans-serif;
	width: 90%;
	height: 90%;
	padding: 5%;
	margin: 0;
	position: absolute;
	background-color: rgb(27,25,27);
	color: white;
	font-size: 40px;
	z-index: 11;
	text-align: center;
}
.video-modal h1{
	font-weight: bold;
	font-size: 34px;
	margin-bottom: 40px;
}
.video-modal p{
	font-size: 20px;
}
.video-modal button{
	color: white;
	border: 1px solid white;
	border-radius: 1px;
	padding: 10px 15px;
}
.video-modal button:hover{
	cursor: pointer;
	border-color: #FF4040;
	color: #FF4040;
}